@import url('https://fonts.googleapis.com/css?family=Caveat|Pacifico|Roboto|Homemade+Apple')

$text-color: hsl(0, 0%, 25%)
$intro-img-color1: hsl(0, 44%, 89%)
$intro-img-color2: hsl(0, 24%, 80%)
$intro-img-color3: hsl(0, 16%, 71%)

body
  padding: 0
  margin: 0
  color: $text-color

*
  box-sizing: border-box

*::selection
  color: darken($text-color, 10)
  background-color: #fefefe 
  
=centerize
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.page
  +centerize

body > #wrapper
  width: 100%
  height: 100vh

h1
  font-family: Caveat
  font-size: calc(4em + 3vh + 3vw)
h3
  font-family: Pacifico
  font-size: calc(3em + 0.2vh + 0.2vw)
  
h1,
h3
  margin: 0

#heading
  height: 100vh
  background:
    image: url('https://images.pexels.com/photos/159211/headache-pain-pills-medication-159211.jpeg?auto=compress&cs=tinysrgb&h=350')
    repeat: no-repeat
    size: cover
    position: center
    attachment: fixed

  > h3
    margin-top: 10vh
  
  > h1
    > span:nth-child(2)
      font-family: 'Homemade Apple'
      font-size: calc(0.5em + 1vh + 1vw)
      margin-left: 20px

  > *
    margin: 0
    padding: 0
    transform: translateY(-10%)

#intro
  padding: 7.5vh 10vw
  background-image: linear-gradient(to right, $intro-img-color1, desaturate($intro-img-color1, 36%))
  position: relative

  p
    text-align: center
    font-family: Ubuntu, Roboto
    font-size: calc(1em + 0.5vh + 0.5vw)  
    line-height: 1.3

  &:before
    content: ''
    width: 100%
    height: 5vh
    background-image: linear-gradient(to top,rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.0))
    position: absolute
    top: -5vh 

#individuals
  height: 100vh 
  display: flex
  flex-direction: row
  margin: 0
  padding: 0

  > .wrapper
    width: 100%
    overflow-x: scroll
    > .individual
      height: 100vh
      width: 100%
      background-image: linear-gradient(to right, pink, #404040)
      *
        background-attachment: fixed

