<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="./css/style.css")
        title SAZCure
    body
        #wrapper
            ul#nav-bar
                li adipisicing
                li incididunt
                li ipsumicous
                li loreumn
                li opyijbdn
                li kunvuipoup  

            #welcome.page
                h3  Welcome to 
                h1  SAZCure

            #intro1.page
                .contents
                    h1  The Company
                    p.
                        Fugiat laboris enim sit eu nisi Lorem est aliqua proident do cupidatat est. 
                        Occaecat nisi nulla consequat culpa incididunt occaecat consequat fugiat es
                        se nostrud laborum do aute dolor. Do ullamco non enim et. Consectetur enim 
                        nulla amet sunt excepteur laboris dolore commodo consequat in. Irure deserunt 
                        veniam commodo adipisicing incididunt quis dolor. Quis velit qui enim in elit.
            #intro2.page
                .window
                .contents
                    h1 About us
                    p.
                        Duis minim consectetur esse est. Sint consectetur labore do reprehenderit 
                        mollit veniam aute nisi aliqua. Cupidatat cupidatat veniam deserunt labore 
                        ullamco est nulla anim. Reprehenderit deserunt magna minim nostrud sit ali
                        qua culpa cupidatat voluptate. Laboris sunt commodo do labore cupidatat mag
        script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
        script(src="./js/index.js")




